*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to top left, #28b487, #7dd56f );
    line-height: 1.5;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.show-modal{
    font-size: 2rem;
    font-weight: 600;
    padding: 1.75rem 3.5rem;
    margin: 5rem 2rem;
    border: none;
    background-color: #fff;
    color: #444;
    border-radius: 10rem;
    cursor: pointer;
}
.modal{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 6rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

h1{
    position: absolute;
    top: 7rem;
    left: 18rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

span{
    color: #ff8c00;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}
p{
    text-indent: 10rem;
    font-size: 2rem;
}
img{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    outline: 2px solid #333;
    position: relative;
    top: -10px;
}

.close-modal{
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    cursor: pointer;
    background: none;
    border: none;
    color: #333;
}
.hidden{
    display: none;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

/* Responsive For Mobile Device  */

@media screen and (max-width: 800px) {
    html{
        font-size: 52.5%;
    }
   .modal{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
   }
   h1{
    position: absolute;
    top: 5rem;
    left: 15rem;
    font-size: 2.5rem;
    margin-bottom: 2rem;
   }
    
}